* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Navbar */
.custom-navbar {

}

/* Hero Container */
.hero-container {
    background-image: url('./images/hero-cover.jpg');
    width: auto;
    height: 450px;
    block-size: cover;
    background-position: center;
}

.motto {
    font-size: 56px;
    line-height: 64px;
    font-weight: 600;
}

.input-field {
    border: none;
}

.input-field:focus {
    outline: none;
}


/* Hero Featurs */
.hero-features-container { 
    margin-top: -3.5rem;
}

.features-tile, 
.feature-description  {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.features-tile {
    text-align: center;
}


/* Why Choose Us */
.why-us-container {
    background-color: #fafbfc;

}

.line {
    width: 30px;
    height: 1px;
    background-color: #979797;
}



/* Background Color Container */
.counts-container,
.testimonial-container, 
.contact-container {
    background-color: #f4f5f8;
}


/* How it works */
.features-list {
    border-left: 3px solid #f7f8fa;
}

.round-div {
    width: 50px;
    height: 50px;  
    left: -25px;
    top: 0;
    background-image: linear-gradient(135deg, #23a999 1%, #00a1ba 52%, #006597);
}

.feature-number {
    left: -5px;
    top: 11px;
}




.testimonial-description {
   border-left: 10px solid #00a1ba;
}


/* BUtton */
.btn-action {
    background-color: #c71f66;
}


.footer-container  {
    background-color: #ebecef;
}


.footer-font {
    font-size: 14px;

}

.bg-footer {
    background-color: #dfe0e3;
}






/* Smaller Scrren */
@media (max-width: 450px) {
    .hero-features-container {
        margin-top: -1rem;
    }
}

